.dashboard-page {
  width: 100%;
  .image-section {
    height: 732px;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background: linear-gradient(
        0deg,
        rgba(8, 22, 48, 0.33) 0%,
        rgba(8, 22, 48, 0.33) 100%
      ),
      url("./../../../assets/icons/mainPage.png") lightgray 50% / cover
        no-repeat;

    .dashboard-heading {
      color: var(--white, #fff);
      font-family: Poppins;
      font-size: 60px;
      font-style: normal;
      font-weight: 800;
      line-height: 70px;
      width: 600px;
      margin-top: 10px;
      margin-left: 10px;
    }
    // .filters {
    //   margin-top: 14%;
    //   margin-left: 18%;
    // }
  }

  .filters {
    position: relative;
    bottom: -211px;
    left: 320px;
  }
}
