.find-vehicle {
  .ant-card {
    height: 122px;
    width: 1196px;
    padding: 15px !important;
    border-radius: 13px;
    background: #e5e5e5;
    color: #081630;
    position: absolute;
    bottom: 100px;
    left: 350px;
    .filter-item {
      width: 160px;
      height: 41px;
      label {
        color: #081630;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .find-btn {
      border-radius: 18px;
      margin-top: 28px;

      .ant-btn {
        display: flex;
        text-align: center;
        padding: 10px 20px 15px 20px;
        background: #f1bc00;
        border-radius: 50px;
        span {
          color: var(--white, #fff);
          font-size: 12px;
          font-style: normal;
          font-weight: 700;
          line-height: 20.621px;
        }
      }
    }
  }
}
