.car-listing {
  .car-card {
    width: 288px;
    height: 458px;
    border-radius: 18px;
    background: var(--white, #fff);
    // img {
    //   width: 234px;
    //   height: 95px;
    // }

    .car-name {
      color: #262626;
      text-transform: capitalize;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 19px;
    }

    .car-info {
      color: #959595;
      font-size: 13px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
    }
  }
}
