.contact-page {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .image-section {
    // width: 1440px;
    height: 709px;
    // background: url("../assets/icons/contactHeader.png");
    background: linear-gradient(
        0deg,
        rgba(8, 22, 48, 0.33) 0%,
        rgba(8, 22, 48, 0.33) 100%
      ),
      url("../assets/icons/contactHeader.png") lightgray 50% / cover no-repeat;
  }
  .overlay {
    position: absolute;
    top: -89px;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(8, 22, 48, 0.7); /* #081630 with opacity */
    mix-blend-mode: multiply;
  }
  .contact-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contact-us {
      width: 1196px;
      border-radius: 10px;
      background: var(--white, #fff);
      box-shadow: 0px 0px 60px 30px rgba(0, 0, 0, 0.03);
      margin: 150px 100px;

      .main-heading {
        color: #f6af03;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .subtitle {
        color: #717171;
        text-align: center;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }

      .contact-info {
        width: 491px;
        height: 647px;
        background: linear-gradient(150deg, #f1bc00 0%, #927200 99.02%);
        .contact-heading {
          .title {
            color: var(--white, #fff);
            font-size: 28px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            display: flex;
            flex-direction: column;
            margin-left: 24px;

            .tagline {
              color: #fdfdfd;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              margin: 10px 0px 10px 0px;
            }
          }
        }
        .details {
          list-style-type: none;
          color: var(--white, #fff);
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          li {
            padding: 20px 0px;
            display: flex;
            flex-direction: row;

            span.anticon {
              font-size: 24px;
            }

            .item-content {
              margin-left: 20px;
              width: 288px;
            }
          }
        }

        .circle-1 {
          width: 138px;
          height: 138px;
          background: rgba(255, 249, 249, 0.13);
          border-radius: 50%;
          /* float: right; */
          /* margin-right: 50px; */
          position: absolute;
          bottom: 75px;
          right: 75px;
        }

        .circle-2 {
          width: 269px;
          position: absolute;
          height: 269px;
          border-radius: 269px;
          background: rgba(255, 255, 255, 0.12);
          right: -66px;
          bottom: -90px;
        }
      }
      .contact-form {
        color: #8d8d8d;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        padding: 20px;

        button {
          float: right;
          gap: 10px;
          border-radius: 4px;
          background: #f1bc00;
          box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.12);
          color: var(--white, #fff);
          min-height: 54px;
          .btn-title {
            padding: 15px 48px;
            text-align: center;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }
    }
  }
}
